@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body{
  margin: 0;
  padding: 0;
  background: url("bg.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
 
  height: 100%;
}
@font-face {
  font-family: "Befolk";
  src: url("font/Befolk Script.ttf") format("truetype"), url("font/Befolk Script.otf") format("opentype");
}

.sec1{
  position: relative;
 min-height: 100vh;
}

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  color: white;
  font-family: 'Century Gothic',sans-serif;
  transition: .5s;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
  transition: .5s;
}

h1.aroly {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
}



.box h5{
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 100;
}

.web-designer {
  font-family: 'Raleway', sans-serif;
}

.box p{
  text-align: justify;
}
.social-menu {
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}


@media screen and (max-width: 576px) {
  .box {
    width: 20em;
    transition: .5s;
  }

  .box h1{
  font-size: 30px;
  }  

  .box h5 {
    font-size: 20px;
  }
}

.wht {
  font-size: 10pt;
  color:grey;
}

.text-slicer {
  background:rgb(0,255,140);
  height: 2.5px;
  width: 12em;
}